<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658406512348-kmkc07v3q8fouf88k1i8m5aq83safk9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658406512348-kmkc07v3q8fouf88k1i8m5aq83safk9v</string>
	<key>API_KEY</key>
	<string>AIzaSyBZH1pWgVOcrvts5zdEDEiFVZ9qGv9d7sc</string>
	<key>GCM_SENDER_ID</key>
	<string>658406512348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zhixuanMo.Whiskipedia</string>
	<key>PROJECT_ID</key>
	<string>whiskipedia-8404d</string>
	<key>STORAGE_BUCKET</key>
	<string>whiskipedia-8404d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658406512348:ios:0ee86a31734a156ef14619</string>
	<key>DATABASE_URL</key>
	<string>https://whiskipedia-8404d.firebaseio.com</string>
</dict>
</plist>